html * {
    font-family: 'work sans';
}

#jumbotron-header {
  /* background-image:url('https://i.imgur.com/UZKEjzG.png'); */
  background-image: url('./../assets/images/header-blur.png');
  background-size: 100% 100%;
}

.block {
  box-shadow: 1px 0px 4px rgb(148, 148, 148);
}

.vertical-center {
  vertical-align: middle;
}

.container-fluid.content-container {
    max-width: 850px;
}

.img-container {
    max-width: 700px;
}

.nav.navbar-nav li a {
    color: #373737;
    font-size: 18px;
}

.nav.navbar-nav li a:hover {
    background-color: #f2f2f2;
}

#my-sidebar.nav.navbar-nav li a {
    color: #373737;
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-brand a {
    font-weight: bold;
    font-size: 25px;
}

.description {
    font-size: 18px;
}

.info {
    font-size: 20px;
}

.social-icon {
    font-size: 25px;
    text-decoration: none !important;
}

.textbox {
    border-radius: 20px;
    background-color: #f7f7f7;
}

.textbox-dark {
    border-radius: 20px;
    background-color: #eaeaea;
}
