html * {
    font-family: 'work sans';
}

.container-fluid.content-container {
    max-width: 850px;
}

.nav.navbar-nav li a {
    color: #373737;
    font-size: 18px;
}

.nav.navbar-nav li a:hover {
    background-color: #f2f2f2;
}

.info {
    font-size: 20px;
}
